/.*/
/*/__py*/
/*info
/example/*ipynb*
/example/output*/*
/example/valid*/*
/example/run_test*
/example/bench*
/example/fine*/*
/example/prof*
/example/run*
/example/nep_lmax*
/example/test*
/check*
/eval*
/build/*
/profile*
/big_bench/gpu*/*
/big_bench/tor*/*
/big_bench/*
/probe/
/Perio*
/dist
